body {
    background: linear-gradient(-45deg, rgb(238, 82, 204), rgb(160, 66, 236), rgb(35, 112, 213), rgb(77, 96, 202), #23d5ab, #4de085);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container-geral {
    /*background-color: rgba(125, 125, 125, 0.5);*/
    background-color: #FFF;
}

.card {
    width: 200px;
    height: 300px;
}

.card-image {
    width: 200px;
    height: 200px;
}